server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/username/project-name-config.git
          default-label: main
          username: ${GIT_USERNAME}
          password: ${GIT_PASSWORD}
          clone-on-start: true


